.path-node:not(.node--type-landing) #main.container {
    max-width: none;
    padding: 0;
}

/* 取消 Bootstrap .row 預設 */
#main > .row {
    margin-left: 0;
    margin-right: 0;
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

/* 一併取消 #content 上 .col 的左右 padding */
#content.col {
    padding-left: 0;
    padding-right: 0;
}
#main section.content-inner.section{
    padding: 0;
}

#main h3, #main h2 {
    width: 100%;
    border: none;
}
#main .node__content{
    margin-top: 0;
}
.text-formatted h2, .text-formatted h3, .ck.ck-content h2, .ck.ck-content h3 {
    width: fit-content;
    margin-block: 0;
}