
.volunteer-content-container{
    flex-direction: column;
    gap: 24px;

}
.section-title {
    padding-top: 16px;
    padding-bottom: 4px; 
}
 
.volunteer-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    /* padding-top: 16px;  */
}

@media (min-width: 768px) {
    .volunteer-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}
 
.volunteer-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    border: none;
}

.volunteer-card .card-img-top {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 342 / 207;
    overflow: hidden;
}

.volunteer-card .card-body {
    padding: 0;
}

.volunteer-card .card-text {
    margin-bottom: 0;
}
.volunteer-card .card-title{
    margin-bottom: 0; 
}
/*  */
.volunteer-card .card-img-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  @media (min-width: 1200px) {
    .volunteer-card .card-img-top {
      aspect-ratio: 304 / 171;
    }
  }

/* ========================================
   Section: 志工模式
======================================== */
.volunteer-mode{
    background-color: var(--brand-background-green);
}
.volunteer-mode-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.volunteer-mode-cards{
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px; 
}
.volunteer-mode-card{
    padding: 24px;
    background-color: var(--white);
    border-radius: 8px;
}
.volunteer-mode-card ol,.volunteer-mode-card ul{
    padding-left: 1.2rem;

}
@media (min-width: 768px) {
    .volunteer-mode-cards {
        grid-template-columns: repeat(2, 1fr);
    }
} 
/* ========================================
   Section: cta 與 志工心得
======================================== */
/* 按鈕有上繳箭頭 */
.join-and-share .container{
    gap:64px;
    flex-direction: column;

}
.volunteer-share-container .section-title{
    width:100%;
    margin-bottom: 40px;
}
.volunteer-share-container{
    display: flex;
    flex-direction: column;

}
/* ========================================
   Section: person-card
======================================== */
.volunteer-share-container .person-card{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.volunteer-share-container .card-title{
    color: var(--brand-dark-primary);
}
.volunteer-share-container .person-card-img-container{
    width: 95px;
    height: 95px;
}
.volunteer-share-container .person-card-img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.volunteer-share-container .person-card-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    margin-bottom: 80px;
}
@media (min-width: 768px) {
    .volunteer-share-container .person-card-container{
        grid-template-columns: repeat(3, 1fr);
    }
}
.volunteer-share-container .card-body{
    padding: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.person-card .btn{
    margin-top: auto;
    width: fit-content;

}