#navbar {
    display: none;
}
a {
    text-decoration: none !important;
    /* color: inherit !important; */
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none !important;
    /* color: inherit !important; */
}
/* ========================================
   Section: about
======================================== */
.about{
    background-color: var(--brand-white);
}
.about .container{
    padding-left: 0;
    padding-right: 0;
    display: grid;
    gap: 40px;
    align-items: center; 
    grid-template-columns: 1fr

}
.about .img-box {
    width: 100%;
    
}
.about img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    object-position: top right;
    border-radius: 8px;
}
.about h2{
    color: var(--brand-dark-primary);
    margin-bottom: 40px;
}
@media (min-width: 768px){
    .about .container{
        align-items: start;
    }
}
@media (min-width: 768px)  {
    .about .container {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 1200px) {
    .about .container {
        grid-template-columns: 1fr 596px; 
    }
}
/* ========================================
   Section: achievements
======================================== */
.achievements img{
    width: 100%;
    max-width: 100%;
}
/* ========================================
   Section: core-values
======================================== */
.core-values{
    background-color: var(--brand-dark-primary);
}
.core-values p{
    color: var(--white);
}
.core-values .container{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
     
}
.slogan-box{
    width: 100%;
    max-width: 100%; 
}
.signature-box{
    width: 218px;
    height: auto;
}
.slogan-box img,.signature-box img{
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .slogan-box{
        width: 760px;
    }
}
@media screen and (min-width: 1200px) {
    .slogan-box{
        width: 960px;
    }
}
/* ========================================
   Section: 捐款方案
======================================== */
.donation-plan{
    background-color: var(--brand-background-green);
}
.donation-plan h3{
    color: var(--brand-primary);
}
.donation-plan img{
    width: 100%;
}
   /* faq */
.faq {
    background-color: var(--white );
}


