#navbar {
  display: none;
}

body,
button,
input,
a,
p,
h1,
h2,
h3,
h4,
h5,
span,
label {
  font-family:
    "Noto Sans TC",
    "PingFang TC",
    "Microsoft JhengHei",
    sans-serif;
}

body,
p,
.lead {
  line-height: 1.6;
}

body {
  font-size: 16px;
}

html {
  font-size: 16px;
}

@media (min-width: 1600px) {
  html {
    font-size: 24px;
  }
}
